.reports {
  background: #000;
  color: #fff;
}

.report-header {
  height: 14vh;
}

.report-form {
  & select {
    margin-bottom: 1rem;
  }
  & textarea {
    background: #fff;
    color: #f00;
  }
}
