.encounters {
  overflow: hidden;
}

.report-summary {
  overflow: auto;
  height: 61vh;
  margin-top: 14vh;
}

.header {
  height: 14vh;
  width: 100vw;
  text-align: center;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.encounter-header {
  position: fixed;
  background: #fff;
}

.instructions {
  margin: 0;
  font-size: 1rem;
}

.footer {
  background: #000;
  height: 25vh;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
    align-items: center;
    justify-content: center;
}

.add-report{
  color: #fff;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
  }
}
ul {
  margin: 0;
  padding: 0 1rem;
}
li {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
}
