.encounters {
  overflow: hidden;
}

.report-summary {
  height: 61vh;
  margin-top: 14vh;
  overflow: auto;
}

.encounter-header {
  background: #fff;
  height: 14vh;
  position: fixed;
}

.header, .footer-black {
  width: 100vw;
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instructions {
  margin: 0;
  font-size: 1rem;
}

.footer-black {
  background: #000;
  height: 25vh;
  position: absolute;
  bottom: 0;
}

.add-report{
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
ul {
  margin: 0;
  padding: 0 1rem;
}
li {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem;
}
