.welcome {
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, .75) 0%, rgba(255,50,50, .6) 100%),
  url('../app/images/mars.jpg') bottom left;
  background-size: cover, cover;
  color: #fff;
  display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.app-title {
  text-transform: uppercase;
}

.touch-area {
  width: 150px;
  height: 150px;
  display: flex;
    justify-content: center;
    align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.circle-pulse {
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0),
              0 0 0 0 rgba(255, 255, 255, 0),
              0 0 0 0 rgba(255, 255, 255, 0),
              0 0 0 0 rgba(255, 255, 255, 0);
  animation: pulse 2s linear alternate infinite;
}
