/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
// @import "./reset";
@import "./main/main";
@import "./check-in/check-in";
@import "./encounters/encounters";
@import "./animations.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700italic,400italic);

$red-color: #ed4343;
$red-font: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

html, body, input, select, textarea {
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $red-font;
  font-weight: 100;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 100;
}

.forms {
  margin: 0 auto;
  width: 80vw;
}

input, select, textarea {
  font-size: 1.25rem;
  color: #fff;
  background: #000;
  border: 0;
  border-bottom: 1px solid #fff;
  padding: .25rem 0 .25rem .5rem;
  &::placeholder {
    color: #f00;
  }
  select, option {
    color: #f00;
    background: #fff;
  }
}

[ui-view]>div {
  width: 100vw;
  height: 100vh;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.red {
  color:$red-color;
}

.welcome {
	height: 100vh;

	display:flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;

	img { width: 42%; }
  h1  { text-align:center; }

}

.invalid {
  transition: .5s linear all;
}

.invalid {
  input, select, textarea {
    &.ng-invalid {
      border-radius: 0;
      animation: invalid .5s infinite;
    }
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
