.check-in {
  color: #fff;
  background:#000;
  line-height: 3;
  font-size: 1.5rem;
  text-align: center;
}

.register-form {
  margin: 0 auto;
  width: 80vw;
}

button {
  background: #000;
  color: #fff;
  font-size: 2rem;
  border-style: none;
  margin-top: 15rem;
  &:hover {
    cursor: pointer;
  }
}
