.check-in {
  color: #fff;
  background:#000;
  line-height: 3;
  font-size: 1.5rem;
  text-align: center;
}

.register-form {
  margin: 0 auto;
  width: 80vw;
}

.checkin-btn {
  &:hover {
    cursor: pointer;
  }
}
